<!--
Name: Andre Agrippa
Date: 11/17/2020
File: Fail.cshtml
-->
@{
    ViewData["Title"] = "Fail";
}
<!DOCTYPE HTML>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Failure Screen</title>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
</head>
<body>
    <h2 style="text-align: center">Ajax Animal Shelter - AAS<img id="img_logo" alt="Logo" src="~/Images/beach-book.jpg" width="100" height="100" /></h2>

    <h3>Unfortunately not all info entered is valid for Owner Entry</h3>
</body>
</html>
