@{
    ViewData["Title"] = "Home Page";
}
<!doctype html>
<html lang="en">
<head>
    <title>NETD3202 - Ajax Animal Shelter</title>
    <img id="img_logo" alt="Logo" src="~/Images/aas.PNG" width="250" height="250" />
</head>
<body>
    <div >
        <h1 class ="title-color">
            Welcome
        </h1>
    </div>
</body>
</html>
