<!--
Name: Andre Agrippa
Date: 11/17/2020
File: Fail.cshtml
Purpose: Fail view for animal entry
-->
@{
    ViewData["Title"] = "Fail";
}
<!DOCTYPE HTML>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Failure Screen</title>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
</head>
<body class =" bg-dark">

<h3 class ="title-color">Unfortunately not all info entered is valid for Animal Entry</h3>
</body>
</html>